
.page-title{
    font-family: 'Acme', sans-serif;
}
.cart-div{
    margin-top: 3rem;
}
table{
    padding: 2rem;
    box-shadow: 1px 1px 6px 2px grey;
}
tbody{
    padding: 2rem;
}
tr{
    height: max-content;
}
.cart-table{
    text-align: center;
    margin: auto;
}
.cart-name{
    padding: 1rem ;
    font-size: 2rem;
    font-family: 'Acme', sans-serif;
    color: rgb(3, 32, 128);
}
.total-price{
    text-align: right;
}
.price{
    text-align: right;
    padding: 1rem 1rem 1rem 2rem ;
}
.sub-total{
    border: none;
    font-weight: 900;
    background-color: rgba(185, 183, 183, 0.781);
    box-shadow: inset 3px 3px 20px 3px rgb(145, 144, 144),
            1px 1px 1px 1px rgb(149, 151, 149),
            -1px -1px 1px 1px rgb(149, 151, 149),
            inset -3px -3px 20px 3px rgb(145, 144, 144);    
}
.item{
    padding: .5rem 0;
    font-size: 1.75rem;
}
.count{
    padding-right: 2rem !important;
}
.item-count{
    text-align: right;
    padding-right: 1rem;
}