*{
    box-sizing:  border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(15, 11, 11);
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Roboto', sans-serif;
}
.holder{
    margin: 0;    
    display: grid;
    grid-template-columns: auto;    
    min-height: 100%;   
    grid-template-rows: .2fr 3fr .25fr; 
    
}

.brand {
    font-size: 3rem ;
    margin-right: auto;
    margin-left: auto;
    color: rgb(223, 82, 1);
    text-decoration: none;
}
.nounderline{
    text-decoration: none !important;
}
.page{
    margin-top: 1vh;
    padding-top: 2vh;
}
.page-title{
    margin: 6vh 0;
}
ul{
    list-style-type: none;
}
.foot-links{
    padding-right: 3rem;
}
.full {
    width: 100%;    
}
.gap {
	height: 50px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #013b25;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: white;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 0px;
	text-transform: uppercase;
  margin-bottom: 15px;
}

.footer h4 {
	color: white;
	font-size: 2em;
	font-weight: 600;
	line-height: 38px;
	padding: 40px 0 10px;
	font-family: cursive;
  font-weight: lighter
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: #0e974c;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
footer{
	grid-column: 1/ -1;
	grid-row: 3;
}
.footer ul li a {
	padding: 0 0 12px 0;
	display: block;
}
.footer a {
	color: white;
  font-weight: lighter;
}

.footer p {
	color: white;
  font-weight: lighter;
}

.footer a:hover {
	text-decoration:none;
  font-weight: bold;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer a {
	color: #e2e7ec
}

.footer-bottom {
  margin-top: 2em;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
  font-size: 0.75em
}
.copy{
    margin-top: 10vh;
}
footer{ 
    margin-top: 2vh;
}
 
@media only screen and (min-width: 300px) and (max-width: 500px){
    .page{
        margin-top: 2vh;
        padding-top: 2vh;
    }
    .footer{    
        font-size: 1rem;
        text-align: center;
    }
    
 }
 @media only screen and (min-width: 501px) and (max-width: 1024px){
  
 }
 @media only screen and (min-width: 1024px) and (max-width: 1440px){

 }

 