argcomplete==2.0.0
asgiref==3.4.1
certifi==2021.10.8
click==8.0.3
colorama==0.4.4
distlib==0.3.4
Django==4.0.1
filelock==3.4.2
packaging==21.3
pipenv==2022.1.8
pipx==1.0.0
platformdirs==2.4.1
pyparsing==3.0.6
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
userpath==1.7.0
virtualenv==20.13.0
virtualenv-clone==0.5.7
