.card-class{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;        
    margin-bottom: 2vh;
}
.card{
    width: 50vw;
    box-shadow: 1px 1px 5px 2px rgb(63, 5, 201);
    margin: 2vh;
}


@media only screen and (min-width: 300px) and (max-width: 500px){
    .card-imge{
        width: 80vw;
    }
    .card{
        margin: 2vh;
        
    }
    .card-class{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 90vw;
        box-shadow: 1px 1px 5px 2px rgb(32, 32, 32);
        margin: 2vh;
    }
    
 }
 @media only screen and (min-width: 501px) and (max-width: 1024px){
    .card-class{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;        
        margin-bottom: 2vh;
    }
    
  
 }

 