

.home-img-div{
    margin: 2vh auto;
    text-align: center;    
}

.home-img {
    height: 50vh;
    box-shadow: 1px 1px 5px 2px rgb(32, 32, 32);
}

.navbar-brand{
    font-size: 2rem;
}
.services-h3{
    text-align: center;
}
  .carousel-item{
      height: 50vh;
  }

  .jumbo-color{
      color: white;
      font-size: 2rem;
  }
