{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center page-title">Your Cart</h1> 
    
    <form class="contact-form cart-form" action="{% url 'cart' %}" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Enter Name To Search For Cart</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name">
        </div>           
          <button type="submit" class="btn btn-primary mb-2">Search</button>   
      </form>
      {% if show %}
    <div class="cart-div">
        <table class="cart-table">
            <tr >
                <td class="cart-name">{{name}}</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="item-count">{{count}} X</td>
                <td class="item">{{meat}}</td>
                <td></td>
            </tr>
            <tr>
                <td class="item-count">{{count}} X</td>
                <td class="item">{{side1}}</td>
                <td></td>
            </tr>
            <tr>
                <td class="item-count">{{count}} X</td>
                <td class="item">{{side2}}</td>
                <td></td>
            </tr>
            <tr class="sub-total">
                <td></td>
                <td class= "total-count">Total:</td>
                <td class="count">$ {{price}}.00</td>
            </tr>

        </table>
    </div>
    {% else %}
    {% endif %}
{% endblock %}