{% extends 'base.html' %}

{% block title %}Edit Menu{% endblock title %}
{% block content %}
<div class="container"> 
    <h1 class="text-center page-title">Edit Menu</h1>
   
    <form class="contact-form" action="{% url 'menu' %}" method="post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name">
        </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Description</label>
                <textarea type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Price</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Price" name="price">
        </div> 
        <button type="submit" class="btn btn-primary mb-2">Submit Food</button>   
    </form>
</div>
 

    {% endblock content %}


    