@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.contact-form{
    width: 50%;
    margin: auto;
    box-shadow: 2px 2px 4px 4px gray;
    padding: 2vh;
}

.note{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: green;
    text-shadow: 2px rgb(3, 46, 3);
}

@media only screen and (min-width: 300px) and (max-width: 500px){
    .contact-form{
        width: 90%;
    }
    .contact-form{    
        font-size:3rem;
        text-align: center;
    }
 }